.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#drawer-link {
  text-decoration: none;
  color: black;
}

#login-link {
  text-decoration: none;
}

#purchases-form {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

#purchases-form-toolbar {
  padding-left: 24px;
}

#header-title {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.87);
}

#purchases-form-submit {
  padding-right: 24px;
}

#purchases-form-grid {
  padding: 34px;
}

#competitions-left-column {
  padding-left: 1.5rem;
}

#competitions-center-column {
  text-align: center;
}

#competitions-right-column {
  text-align: right;
  text-align: -webkit-right;
  text-align: -ms-right;
  text-align: -moz-right;
  text-align: -o-right;
}

#expansion-panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.container-spacing {
  padding: 24px;
}

.send-comp-request {
  padding: 24px;
  padding-top: 32px;
}

.friend-request-textfield {
  width: "100%";
}
