.competitions {
    @include container-spacing;
    @include component-box;

    .MuiGrid-container {
        padding: 24px;
        padding-top: 32px;
    }

    .MuiGrid-item {
        @include grid-spacing;
    }

    a {
        text-decoration: none;
    }

    &-title {
        @include header-title;
    }

    &-competitor-name.MuiTypography-body1 {
        font-size: 1.15rem;
    }

    &-left-column {
        flex-basis: 25%;
        padding-left: 1.5rem;
    }

    &-center-column {
        flex-basis: 25%;
        text-align: center;
    }

    &-right-column {
        flex-basis: 25%;
        text-align: right;
        text-align: -webkit-right;
        text-align: -ms-right;
        text-align: -moz-right;
        text-align: -o-right;
    }

    &-expanded-panel.MuiExpansionPanel-root {
        background-color: $off-white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    &-expanded-panel-avatar {
        align-items: center;
        padding-top: 32px;
    }

    &-expanded-panel-text {
        align-items: center;
        padding-top: 32px;
    }

    &-full-width {
        width: 100%;
    }

    &-description {
        display: inline;
    }

    &-list {
        @extend .competitions-full-width;
        margin: 0;
    }

    &-submit {
        padding-right: 24px;
    }
}
