.home-page {
    &-jumbotron {
        &-mobile.ui.inverted.segment {
            text-align: center;
            min-height: 350px;
            padding: 1em 0;
            background: $jumbotron-background;
        }

        &-desktop.ui.inverted.segment {
            text-align: center;
            min-height: 500px;
            padding: 1em 0;
            background: $jumbotron-background;
        }
    }

    &-body {
        .ui.vertical.segment {
            padding: 5em 0;
        }

        p {
            font-size: 1.25em;
        }
    }

    &-header {
        &-mobile {
            h1.ui.inverted.header {
                font-weight: normal;
                font-size: 2.5em;
                margin-top: 1.5em;
                margin-bottom: 0;
                img {
                    display: none;
                }
            }
            h2.ui.inverted.header {
                font-weight: normal;
                font-size: 1.5em;
                margin-top: 1em;
            }
        }
        &-desktop {
            h1.ui.inverted.header {
                font-weight: normal;
                font-size: 4em;
                margin-top: 1em;
                margin-bottom: 0;
                display: inline-flex;
                p {
                    display: inline;
                    margin: auto;
                    margin-left: 20px;
                }
            }
            h2.ui.inverted.header {
                font-weight: normal;
                font-size: 1.7em;
                margin-top: 1.5em;
            }
        }
    }
}
