.navbar {
    .MuiAppBar-root {
        flex-grow: 1;

        &.MuiAppBar-colorPrimary {
            padding-right: 0;
            background-color: black;
            color: white;
        }

        .MuiTypography-h6 {
            color: white;
        }

        .MuiToolbar-regular {
            height: 60px;
            min-height: 60px;
        }
    }

    &-loading {
        height: 4px;

        .MuiLinearProgress-root {
            height: 4px;
            background-color: black;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: rgb(203, 63, 34);
        }
    }

    &-login-button {
        padding: 3px;

        .MuiTypography-root {
            text-transform: capitalize;
        }
    }

    &-get-started {
        display: block;
        @media only screen and (max-width: 600px) {
            display: none;
        }

        .MuiTypography-root {
            text-transform: capitalize;
        }
    }

    &-link {
        color: white;
    }
    &-link:hover {
        color: #afafaf;
    }
}
