.navbar {
    .MuiAppBar-root {
        flex-grow: 1;

        &.MuiAppBar-colorPrimary {
            padding-right: 0 !important; //fixes navbar width bug
            background-color: $primary-colour;
            color: $secondary-colour;
        }

        .MuiTypography-h6 {
            color: $secondary-colour;
        }

        .MuiToolbar-regular {
            height: 60px;
            min-height: 60px;
        }

        img {
            padding-top: 5px;
            width: 40px;
            margin-right: 12px;
        }
    }

    &-loading {
        height: 4px;

        .MuiLinearProgress-root {
            height: 4px;
            background-color: $primary-colour;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: $loading-bar;
        }
    }

    &-login-button {
        padding: 3px;

        .MuiTypography-root {
            text-transform: capitalize;
        }
    }

    &-top-right {
        display: block;
        @media only screen and (max-width: 600px) {
            display: none;
        }

        .MuiTypography-root {
            text-transform: capitalize;
        }
    }

    &-link {
        color: $secondary-colour;
    }
    &-link:hover {
        color: $light-grey;
    }
}
