.pages {
    &.MuiContainer-root {
        @include container-spacing;
    }

    &-sections {
        @include grid-spacing;
    }

    &-get-started {
        .MuiBox-root {
            @include container-spacing;
            @include component-box;
        }

        .MuiContainer-root {
            @include container-spacing;
        }

        button {
            margin-top: 10px;
        }

        h6 {
            @include header-title;
        }
    }

    &-login {
        margin-top: 64px;

        &-heading {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
